div(class='row header')
    div(class='col-md-3')
        img(src='/img/sun2r.png')
    div(class='col-md-6')
    div(class='col-md-3')
        div(class='row header-menu')
            div(class='col-md-6 button') aa
            div(class='col-md-6 button') bb
