extends layout

block content
    div(class='container-fluid main')
        include ./topmenu.jade
        include ./header.jade
        div(class='row content')
            div(class='col-md-2')
            div(class='col-md-8 col-xs-12 search-container')
                h2(class='')= 'login'
                form(action='/login', method='post')
                    input(type='text', name='email', class='form-control', placeholder='name')
                    input(type='password', name='password', class='form-control')
                    input(type='submit', name='submit', class='btn btn-warning btn-lg', value='Login')
            div(class='col-md-2')
                

