extends layout

block content
    div(class='container-fluid main')
        include ./topmenu.jade
        include ./header.jade
        div(class='row content')
            div(class='col-md-2')
            div(class='col-md-8 col-xs-12 search-container')
                h2(class='')= 'profile'
                p(class='')='id: ' + user.id
                p(class='')='email: ' + user.local.email
                p(class='')='password: ' + user.local.password
            div(class='col-md-2')
                
