div(class='row top-menu')
    div(class='col-md-12')
        span(class='menu separator')
            a(href='/', class='') home
        span(class='menu separator')
            a(href='/signup', class='') signup
        span(class='menu')
            a(href='/contact') contact
